<nav class="container navbar navbar-absolute-top navbar-dark hidden-md-down">

  <a class="navbar-brand" href="/home">
    <!-- LIKE LION -->
      <img src="http://d2hmp4n7p97ldw.cloudfront.net/assets/logo/likelion-white-a930fbcdf3042a50ba882ece9c02f43536971297a8e143e212d9b92d653bfa44.png" alt="Likelion white">
</a> 

</nav>

<% if not mobile_device? %>

<!-- Slider main container -->
<div class="swiper-container hidden-md-down">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->

      <div class="swiper-slide">
        <div class="home-header-wrapper">
          <div class="video-background">
            <div class="video-foreground">
              <iframe src="https://www.youtube.com/embed/W0LHTWG-UmQ?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          <div class="container home-header">
            <div class="home-header-box-1">
                <h1>멋쟁이 사자처럼 ✕ 연세대</h1>
                <hr>
                <a href="http://jasoseol.com/recruit/15259" target="_blank"><h2 class="font-weight-bold float-xs-right"><font>지원하러 가기</font></h2></a>

            </div>
            <div class="home-header-box-2">
              <h2><mark>지원마감까지</mark><mark><span class="count">∞일 ∞시간 ∞분 ∞초</span></mark></h2>
              <h6><mark>컴퓨터를 모르는 학생들이<br>프로그래밍 교육을 통해 원하는 IT서비스를 직접 런칭합니다</mark</h6>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

</div>

<% end %>

<!-- mobile main header -->
<div class="home-header-wrapper hidden-lg-up" style="background-image: url('https://d2hmp4n7p97ldw.cloudfront.net/assets/home/slide/02-background-be82ae1605d3b8d909373f516e7aa593da9ab78ded7efd9177f94977d916b1c6.png')">
  <div class="container home-header">
      <div class="home-header-box-moblie-logo">
        <a href="/home"><img src="http://d2hmp4n7p97ldw.cloudfront.net/assets/logo/likelion-white-a930fbcdf3042a50ba882ece9c02f43536971297a8e143e212d9b92d653bfa44.png" alt="Likelion white"/></a>
      </div>
      <div class="home-header-box-mobile-title">
        <div class="slogan font-weight-bold"><a href="http://jasoseol.com/recruit/15259">지원하러 가기</a></div>
        <h1>멋쟁이 사자처럼 ✕ 연세대</h1>
        <hr>
        <br>
        <h4>
          지원마감까지 <span class="count">∞일 ∞시간 ∞분 ∞초</span>
        </h4>
      </div>
      <a href="#home-body" class="home-header-box-moblie-arrow-down">
      </a>
  </div>
</div>