<div class="container">
  <div class="detail1">
    <a href="<%=@assignment.img_url%>">
      <img class="detail_img" src="<%=@assignment.img_url%>">
    </a><br>
    <%=@assignment.content%>
  </div>
</div>

