
<!-- footer content -->
<footer class="footer_fixed" style="margin-right:0px" >
  <div class="pull-right">
    Yonsei - Likelion 5th <a href="/home/index/#member">운영진</a>
  </div>
  <div class="clearfix"></div>
</footer>
<!-- /footer content -->
</div>
</div>

<div id="custom_notifications" class="custom-notifications dsp_none">
  <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
  </ul>
  <div class="clearfix"></div>
  <div id="notif-group" class="tabbed_notifications"></div>
</div>

