<footer class="footer">
      <div class="contact">
      <h4>* Contact Us *</h4>
      <p>Kakaotalk Yellow ID @연세대멋사</p>
      <p>Facebook @yonsei.likelion</p>
      <p>More Information ~http://www.likelion.net/~</p>
      </div>
      <div class="copyright">
          <p>해커톤 사진 제공: 멋사 4기 박재현님</p>
      </div>
      
      
</footer>